@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

@font-face {
    font-family: "DejaVu Serif";
    src: url("fonts/DejaVuSerif.ttf") format("truetype");
}

:root {
    --bg-color: #ecc4c3; 
    --text-color: #151C0D; 
    --highlight-color-one: #83944C; 
    --highlight-color-two: #DFA768; 
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "DejaVu Serif", serif;
    
}
/* Hero Section */
.hero-section {
    background: url('../images/fheader.jpg') no-repeat center;
    opacity: 50%;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    height: 25vh;
    display: flex;
    align-items: left;
    justify-content: left;
    color: white;
}

.bg-light {
    background-color: red;
}

.hero-section h1 {
    color: #915466;
    font-family: "DejaVu Serif", serif;
    font-weight: 600;
}

h2, h3, h4, h5 {
    font-family: "Texturina", serif;
    color: #151C0D;
}

.hero-section .lead {
    font-size: 1.5rem;
}

.carousel-inner img {
    width: 100%; 
    aspect-ratio: 16/9;
    object-fit: cover;
}

.carousel-control-prev img {
    width: 50%; 
    aspect-ratio: 1/1;
    object-fit: cover;
}

.carousel-control-next img {
    width: 50%; 
    aspect-ratio: 1/1;
    object-fit: cover;
}

.btn {
    background-color: var(--highlight-color-two);
    color: #151C0D;
    border: none;
    padding: 2%;
}

.work-card img {
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
    filter: sepia(20%);
}

.work-card {
    font-family: "DejaVu Serif", serif;
    border-radius: 5%;
    border: none;
    background: #83944C;
    color: #FFFDF1;
}

h2 {
    font-weight: 700;
    color: #333;
}

.modal-body img {
    width: 100%;
}

.container { 
    padding: 1px
}

.footer { 
    width: 100%;
    height: 10vh;
    background-color: #ac7283;
    list-style-type: none;
    display: flex;
    padding-top: 3%;
}

.footer-link { 
    color: #fcf9f0;
    text-decoration: none;
}

.card-custom { 
  background: white; 
  border-radius: 20px; 
  padding: 20px; 
}

.header { 
  background: url('image') center/cover no-repeat;
  border-radius: 20px; 
  padding: 40px; 
  color: green; 
}

.green-box { 
  background-color: green; 
  color: white; 
  padding: 40px; 
  border-radius: 15px; 
}

.btn-pink { 
  background-color: pink; 
  color: black; 
  border-radius: 10px; 
}

.circle { 
  width: 50px; 
  height: 50px; 
  background: white; 
  border-radius: 50%; 
  display: inline-block; 
  margin: 5px;
}