@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --bg-color: #FFFDF1; 
    --text-color: #151C0D; 
    --highlight-color-one: #83944C; 
    --highlight-color-two: #DFA768; 
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    
}
/* Hero Section */
.hero-section {
    background: url('../images/sunflowercat.webp') no-repeat center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.bg-light {
    background-color: red;
}

.hero-section h1 {
    font-family: "Texturina", serif;
    font-weight: 700;
}

h2, h3, h4, h5 {
    font-family: "Texturina", serif;
    color: #151C0D;
}

.hero-section .lead {
    font-size: 1.5rem;
}

.btn {
    background-color: var(--highlight-color-two);
    color: #151C0D;
    border: none;
    padding: 2%;
}

.work-card img {
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
    filter: sepia(20%);
}

.work-card {
    font-family: "Figtree", sans-serif;
    border-radius: 5%;
    border: none;
    background: #83944C;
    color: #FFFDF1;
}

h2 {
    font-weight: 700;
    color: #333;
}

.modal-boy img {
    width: 50%;
}